<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.rp.c300.cleanerbooking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name = "android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".RescheduleBookingActivity"></activity>
        <activity android:name=".ForgotPassword" />
        <activity android:name=".FinishBookingActivity" />
        <activity
            android:name=".ServiceBookingActivity4"
            android:label="Confirm Booking"
            android:parentActivityName=".ServiceBookingActivity3">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ServiceBookingActivity3" />
        </activity>
        <activity
            android:name=".ServiceBookingActivity3"
            android:label="Fill Contact"
            android:parentActivityName=".ServiceBookingActivity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ServiceBookingActivity2" />
        </activity>
        <activity
            android:name=".ServiceBookingActivity2"
            android:label="Select Details"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".ServiceBookingActivity"
            android:label="Service"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".RewardActivity"
            android:label="Service"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity android:name=".ViewBookingActivity" />
        <activity
            android:name=".SignupActivity"
            android:label="Sign Up Account"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ContactActivity"
            android:label="Contact Us"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="Notification"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>